@charset "utf-8";

@import "partials/nav";
@import "partials/nodemap";
@import "partials/nodeinfo";
@import "partials/footer";

:root {
  /*颜色变量*/
  --color-theme: #ff8c3a;
  --color-theme-hover: color( var(--color-theme) lightness(50%));
  --color-background-dark: #eaeaea;
  --color-font: #666;
  --color-font-dark: #333;

  --color-panel: color( var(--color-background-dark) a(50%));
}
