{% load i18n %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="renderer" content="webkit">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="RBTC,更好的数字货币世界">
  <meta name="keywords" content="RBTC,数字货币,区块链,比特币">
  <script src="https://hm.baidu.com/hm.js?3111d6817b7deafb3782124c46ee9252"></script>
  <link rel="stylesheet" href="/static/pages/css/bootstrap.css">
  <link rel="stylesheet" href="/static/pages/css/bootstrap-theme.css">
  <link rel="stylesheet" href="/static/pages/css/app.css">
  <script src="/static/pages/js/echarts.js"></script>
  <title>{% block title %}{% trans "节点地图" %}{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-list" aria-expanded="false">
          <span class="sr-only">{% trans "导航开关" %}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="//www.rbtc.world">RBTC</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-list">
        <ul class="nav navbar-nav">
          <li>
              <a href="//www.rbtc.world">{% trans "首页" %}</a>
          </li>
          <li class="active">
            <a href="#">{% trans "节点地图" %} <span class="sr-only">({% trans "当前" %})</span></a>
          </li>
        </ul>
        {% include "pages/_partials/language.html" %}
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>

  {% block content %}{% endblock %}

  <footer class="container-fluid">
    {% block footer %}<p>{% trans "RBTC，更好的数字货币世界" %}</p>{% endblock %}
  </footer>
  <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
  <script src="/static/pages/js/jquery.js"></script>
  <script src="/static/pages/js/bootstrap.js"></script>
  <script src="/static/pages/js/vue.js"></script>
  <script src="/static/pages/js/world.js"></script>
  <script src="/static/pages/js/app.js"></script>
</body>
</html>
