{% load i18n %}

<form class="navbar-form navbar-right" action="{% url 'set_language' %}" method="post">{% csrf_token %}
  <div class="input-group">
    <select name="language" class="form-control">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}
      <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
      {{ language.name_local }} ({{ language.code }})
      </option>
    {% endfor %}
    </select>
    <span class="input-group-btn">
      <input type="submit" class="btn btn-default" value="Go" />
    </span>
  </div>
</form>
