footer {
  height: 10rem;
  background-color: var(--color-background-dark);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  & p {
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    text-align: center;
  }
}
