.navbar .container {
  min-height: 80px;

  & .navbar-header {
    & .navbar-brand {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    & .navbar-toggle {
      margin-top: 23px;
      margin-bottom: 23px;
    }
  }
}

.navbar-default .navbar-brand {
  margin-right: 0rem;
  color: var(--color-theme);
  font-size: 4rem;
  line-height: 40px;
  font-weight: 600;
  font-style: italic;

  &:hover, &:focus {
    color: var(--color-theme-hover);
  }
}

.navbar-default .navbar-nav > li > a {
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0;
    background: var(--color-theme);
    height: 4px;
    transition-property: "left, right";
    transition-duration: .3s;
    transition-timing-function: ease-out;
  }

  &:hover:before, &:focus:before {
    left: 0;
    right: 0;
  }
}

.navbar-default .navbar-nav > li.active > a {
  &:before {
    left: 0;
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  .navbar-nav > li > a {
    padding: 30px 20px;
  }
  .navbar-form {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 767px) {
  .navbar-default .navbar-brand {
    margin-right: 6.66666rem;
  }
}
