body > .container {
  position: relative;
}

.nodeinfo {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 2;
  font-size: 1rem;

  &:before {
    content: "";
    width: 150%;
    height: 150%;
    position: absolute;
    left: -25%;
    right: -25%;
    top: -25%;
    bottom: -25%;
    z-index: -1;
    background-color: var(--color-panel);
    border-radius: 1rem;
  }

  & .nodeinfo--count {
    font-size: 3rem;
    color: var(--color-font-dark);

    &:after {
      content: "";
      width: 120%;
      height: 3px;
      background-color: var(--color-theme);
      position: absolute;
      bottom: 0;
      left: -10%;
      right: -10%;
    }
  }
}
